.game-code-window {
    font-family: 'Cairo', Georgia, sans-serif;
    text-align: center;
    height: 84px;
    padding: 24px;
    font-size: 28px;
    border-radius: 8px;
    margin: 24px;
    background-color: #f7f7f7;
    position: relative;
}

.game-code-window:focus::placeholder {
    color: transparent;
}

.menu-button{
    text-align: center;
    font-size: x-large;
}

.small {
    width: 128px;
  }  